
@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

#categoryeditform{
    padding-top: 5px;
}
.dash-alert-box{
    margin-left: 36%;
    width: 24%;
}
.dash-alert-back{
    top: 100px;
}
.table-img{
    border-radius: 50%;
}
#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
    margin-top: 70px;
}

.places-buttons .btn{
    margin-bottom: 30px
}

.space-70{
    height: 70px;
    display: block;
}

.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.tim-row{
    margin-bottom: 20px;
}

.tim-typo{
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}
.tim-typo .tim-note{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}
.tim-row{
    padding-top: 50px;
}
.tim-row h3{
    margin-top: 0;
}

.tr-parent{
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}
.tr-child{
    background: aliceblue;
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}
.logo a h4{
    font-weight: 800;
}
::-webkit-scrollbar {
      width: 10px;

}
::-webkit-scrollbar-track {
      background-color: #eeeeee;
} 
/* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {
      background-color: rgba(128,0,128,0.3);
      border-radius: 10px;
}
 /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
      background-color: rgba(128,0,128,0.3);
      border-radius: 10px;
} 
/* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {
      background-color: black;
      border-radius: 5px;
} 
/* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0 !important;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}


.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none !important;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

/* style 6 */

.inputfile-6 + label {
    color: #d3394c;
}

.inputfile-6 + label {
    border: 1px solid #d3394c;
    background-color: #f1e5e6;
    padding: 0;
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: #722040;
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile-6 + label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-6 + label strong {
    height: 100%;
    color: #f1e5e6;
    background-color: #d3394c;
    display: inline-block;
}

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
    background-color: #722040;
}

@media screen and (max-width: 50em) {
    .inputfile-6 + label strong {
        display: block;
    }
}

.margin-t-10{
    margin-top: 10px;
}

.slidedown{
    display: none;
}
.brand-box{
    float: none !important;
}
.upload-btn{
    padding-left: 10px;
    padding-right: 10px;
}
.upload-label{
    position: absolute;
    top: 0;
    left: 10px;
    background: #f44336;
    border: 1px solid #f44336;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 33px;
    color: #ffffff;
}
.front-upload-label{
    position: absolute;
    top: 0;
    left: 10px;
    background: #f44336;
    border: 1px solid #f44336;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px;
    padding-right: 40px;
    color: #ffffff;
}
html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;

            }

.container-fluid {
    height: 100%;
    width: 100%;
}
.row{
    height: 100%
}
.product-img{
    opacity: 1; 
    cursor: pointer;
    border: 1px solid #f44336;
    padding-top: 10px; 
    padding-left: 130px; 
    padding-bottom:10px; 
    background: azure;
    width:100%; 
}
.brand-img{
    opacity: 1; 
    cursor: pointer;
    border: 1px solid #f44336;
    padding-top: 10px; 
    padding-left: 137px; 
    padding-bottom:10px; 
    background: azure;
    width:100%; 
}
.btn-upper-hr{
    margin-top: 50px;
    margin-bottom: 20px;
    border: 0;
    width: 60%;
    border-top: 2px solid #eee;
    background: purple;
}
.category-form{
    display: none;
}
.brand-form{
    display: none;
}
.upload-label-brand{
    padding-left: 35px;
    padding-right: 38px;
    position: absolute;
    top: 6px;
    left: 10px;
    background: #f44336;
    border: 1px solid #f44336;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #ffffff;
}
.btn-upper-hr-brand
{
    margin-top: 31px;
    margin-bottom: 10px;    
    border: 0;
    width: 25%;
    border-top: 2px solid #eee;
    background: purple;
}
.btn-upper-hr-category
{
    margin-top: 31px;
    margin-bottom: 10px;
    border: 0;
    width: 25%;
    border-top: 2px solid #eee;
    background: purple;
}
.modal-body{
    padding-top: 25px;
    padding-bottom: 25px;
}
.upload-label-vendor{
    top: 5px;
    padding-top: 12px;
    padding-left: 39px;
    padding-right: 39px;
}
.edit-ven-label{
    top: 10px;
    padding-right: 35px;
}
#edit-ven-img{
    margin-top: 10px;
}
.edit-modal-dialog{
    margin-top: 50px !important;
}
#edit_ven_perm{
    margin-top: 22px;
}
.edit-modal-close{
    position: absolute;
    right: 0px;
    margin: 0px;
    top: 0;
    background: transparent !important;
    color: black !important;
    font-size: 18px;
    padding: 4px 17px;
}
.profile-image{
    height: 80px;
    border-radius: 50%;
}
.btn-upper-hr-edit{
    margin: 21px 0px;
    width: 100%;
}
.vendor-form{
    display: none;
}
#ven_img{
    padding-left: 145px;
}

.left-panel{
    background-image: url(../img/desk.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 0px;
    height: 100%;
    padding-right: 0px;
}
.opacity-tab{
    padding-top: 129px;
    padding-bottom: 150px;    
    background-color: rgba(0,0,0,0.5);
    height: 100%;

}
.right-panel{
    padding-top: 140px;
    padding-bottom: 166px;    
    background: chocolate;
    height: 100%;
}

.box-shadow{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 30px rgba(0, 0, 0, 0.23);
    padding-left: 0px;
    height: 100%;
    background: chocolate;
    padding-right: 0px;
}
.main-panel{
    height: 100%;
}
.vertical-middle{
    vertical-align: middle !important;
}
.blur-back{
    height: 100%;   
    background-image: url(../img/blur-back1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wel-mes h3{
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
.login-head{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    text-shadow: 5px 2px 10px #000;
}
.flash{
    top: 10% !important;
}

.input {
  box-sizing: border-box;
  width: 100%;
  height: calc(58px + 1px);
  margin: 0 0 1em;
  padding: 1em;
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.19), 0 6px 30px rgba(0, 0, 0, 0.23);
  border: 1px solid azure;
  background: transparent;
  resize: none;
  color: azure; 
  outline: none;
  padding-left: 18px;
}

.input:focus {
  border-color: #000000;
}
.input:focus + label[placeholder]:before {
  color: #00bafa;
}
.input:focus + label[placeholder]:before,
.input:valid + label[placeholder]:before {
  transition-duration: .2s;
  transform: translate(0, -1.5em) scale(0.9, 0.9);
}

.input:invalid + label[placeholder][alt]:before {
  content: attr(alt);
  color: #000000;
}

.input + label[placeholder] {
  display: block;
  pointer-events: none;
  line-height: 1em;
  margin-top: calc(-48px - 2px);
  margin-bottom: calc((3em - 1em) + 2px);
}

.input + label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  margin: 0 calc(1em + 2px);
  padding: 0 2px;
  color: #898989;
  white-space: nowrap;
  transition: 0.3s ease-in-out;
}
.login-btn {
    background: transparent;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    font-size: 19px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-bottom-left-radius: 0px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 30px rgba(0, 0, 0, 0.23);
    border-top-left-radius: 0px;
    font-family: 'Roboto', sans-serif;
    width: 50%;
}
.login-btn:active {
    border: none !important;
    outline: 0 none !important;
}
.login-btn:focus {
    outline: 0 none !important;
}

.no-padding-lf{
    padding-left: 0px;
    padding-right: 0px;
}
.profile_image{
    border-radius: 50%;
}

.alert-back{
    background-color: rgba(90,168,27,1);
    position: absolute;
    top: 0;
    z-index: 10000;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 30px rgba(0, 0, 0, 0.23);
}
.alert-image{
    padding-left: 0px;
    padding-right: 0px;
}
.alert-back .col-md-4{
    padding-left: 0px;
    color: #ffffff;
}

.alert-close {
    margin-top: 0px;
}
.alert-mes h3{
    color: #ffffff;
        margin-top: 0px;
        margin-bottom: 5px;
        text-align: center;
        font-size: 16px;
}
.alert-mes p{
    font-size : 14px; 
    color : #ffffff;
    text-align : center;
    margin-bottom : 0px;
}
.alert-close{
    padding: 0px 12px;
    background: transparent !important;
    color: black !important;
    border: 0px;
    position: absolute;
    right: 0;
    z-index: 100000000;
    font-weight: 900;
    color: #ffffff;
    font-family: 'Robotoo', sans-serif;
}
.alert-close:active:focus, .alert-close:focus {
     outline: 0px auto -webkit-focus-ring-color;
     border-radius: 0px;
     background: transparent !important;
}
.alert-close:active{
    background: transparent !important; 
}
.alert-close:hover{
    background: transparent !important;
}
.alert-mes{
    margin: 10px auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    text-align: center;
    padding-bottom: 20px;
}
.size-modal-body{
    padding-left: 0px !important;
    padding-right: 0px !important;
}


.product-label{
    top: 6px;
}

.margin-t-40{
    margin-top: 40px;
}
.margin-t-25{
    margin-top: 25px;
}
.margin-tb-0{
    margin-top: 0px;
    margin-bottom: 0px;
}
.pad-b-0{
    padding-bottom: 0px;
}
    .product-edit-img{
        width: 20%;
    }

/*media queries*/

/*small devices*/
@media screen and (max-width: 767px) {
    .upload-label{
        padding-left: 5px;
        padding-right: 5px;
        left: 15px;
    }
    .front-upload-label{
        padding-left: 15px;
        padding-right: 15px;
        left: 15px;
    }
    .product-img{
        padding-left: 94px;
    }
    .brand-edit-img{
        padding-left: 100px;
    }
     .margin-t-10-sm{
        margin-top: 10px;
    }
    .upload-label-brand {
        padding-left: 12px;
        padding-right: 12px;
        left: 15px;
    }
    .upload-label-vendor {
        top: 0px;
    }
    .brand-img {
        padding-left: 88px;
    }
    .opacity-tab{
        padding-top: 25px;
        padding-bottom: 0px;
    }
    .right-panel{
        padding-top: 0px;
        background: transparent;
        padding-bottom: 0px;
        margin-top: -295px;
        height: auto;
    }
    .input:invalid + label[placeholder][alt]:before {
        color: azure;
    }
    #ven_img {
        padding-left: 97px;
    }
    .upload-btn {
        padding-left: 0px;
        padding-right: 0px;
    }
    .login-btn{
        background: chocolate;
    }
    .upload-label-brand{
        padding-left: 10px;
        padding-right: 10px;
        top: 0px;
    }
    .upload-label-category{
        padding-left: 12px;
        padding-right: 13px;
        top: 0px;
        padding-top: 11px;
        position: absolute;
        left: 15px;
        background: #f44336;
        border: 1px solid #f44336;
        padding-bottom: 12px;
        color: #ffffff;
    }
    #category_image{
        padding-left: 107px;
    }
    .list-card-xs{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .edit-cat-upload-label{
        padding-left: 18px;
        padding-right: 18px;
        top: 0px;
        left: 15px;
    }
    #brandform{
        padding-top: 40px;
    }
    .edit-brand-upload-label{
        left: 15px;
        top: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .brand-edit-img{
        padding-left: 93px;
    }
    .dash-alert-box{
        margin-left: 16%;
        width: 60%;
    }
    .alert-back{
        margin-left: 16%;
        width: 60%;
    }
    .product-label{
        top: 0px;
    }
    .margin-t-40-xs{
        margin-top: 40px;
    }
    .product-edit-img{
        width: 31%;
    }
    .delete-btn-xs{
        margin-bottom: 10px;
    }
    .edit-product-label{
        left: 0px;
    }
    .edit-product-image{
        padding-left: 114px;
    }


}


@media screen and (max-width: 767px) and (orientation:landscape) {
    .upload-label {
        padding-left: 7px;
    }
    .left-panel{
        width: 50%
    }
    .right-panel{
        width:  50%;
        margin-left: 50%;
        margin-top: -320px;
    }
    .xs-tab{
        width: 50%;
        margin-left: 25%;
    }
    .upload-label-category{
        padding-left: 70px;
        padding-right: 70px;
        top: 0px;
        padding-top: 11px;
        position: absolute;
        left: 16px;
        background: #f44336;
        border: 1px solid #f44336;
        padding-bottom: 12px;
        color: #ffffff;
    }
    #category_image{
        padding-left: 32.5%;
    }
    .edit-cat-upload-label{
        padding-left: 76px;
        padding-right: 76px;
        top: 0px;
        left: 15px;
    }
        .list-card-xs{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .edit-brand-upload-label{
        left: 15px;
        top: 0px;
        padding-left: 34px;
        padding-right: 34px;
    }
    .brand-edit-img{
        padding-left: 130px;
    }
    .dash-alert-box{
        margin-left: 16%;
        width: 60%;
    }
    .product-label{
        top: 0px;
    }


}

/*tablets*/ 
@media screen and (min-width: 768px) and (max-width: 991px) {
    .margin-t--1{
        margin-top: -1px;
    }
    .margin-t-10-sm{
        margin-top: 10px;
    }
    .upload-label-vendor {
        top: -1px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .vendor-img{
        padding-left: 80px;
    }
    .opacity-tab {
        padding-top: 245px;
    }
    .right-panel {
        padding-top: 245px;
    }
    .wel-mes h3 {
        text-align: center;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 30px;
    }
    .login-head{
        font-size: 40px;
        font-weight: 300;
    }
    #user-email{
        font-size: 21px;
    margin-top: 15px; 
    }
    .box-shadow{
        height: 85%;
        margin-top: 11%;
    }
    #ven_img {
        padding-left: 88px;
    }
    .upload-label-brand {
        top: 0px;
        left: 19px;
    }    
    .upload-label-category{
        padding-left: 15px;
        padding-right: 15px;
        top: 0px;
        padding-top: 11px;
        position: absolute;
        left: 20px;
        background: #f44336;
        border: 1px solid #f44336;
        padding-bottom: 12px;
        color: #ffffff;
    }
    #category_image{
        padding-left: 107px;
    }
    .edit-cat-upload-label{
        padding-left: 18px;
        padding-right: 18px;
        top: 0px;
        left: 25px;
    }
    .list-card-xs{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    #brandform{
        padding-top: 20px;
    }
    .edit-brand-upload-label{
        left: 23px;
        top: 0px;
        padding-left: 34px;
        padding-right: 34px;
    }
    .brand-edit-img{
        padding-left: 130px;
    }
    .alert-back{
        width: 100%;
    }
    .button-tab{
        margin-top: -7px;
        margin-bottom: 0px;

    }
    .product-label{
        top: 0px;
    }
    .siz-col-lab-mar-t{
        margin-top: 20px !important;
    }
    .edit-product-image{
        padding-left: 32%;
    }


}
/*desktop*/
@media screen and (min-width : 992px) and (max-width: 1199px) {
    .upload-label{
        padding-left: 5px;
        padding-right: 5px;
    }
    .product-img{
        padding-left: 77px;
    }
    .front-upload-label{
        padding-left: 13px;
        padding-right: 15px;
    }
    .upload-label-brand {
        padding-left: 36px;
        padding-right: 36px;
    }
    .box-shadow{
        height: 100%;
    }
    .opacity-tab {
        padding-top: 195px;
    }
    .right-panel {
        padding-top: 195px;
    }
    .login-head{
        font-size: 36px;
    }
    .wel-mes h3{
        font-size: 34px;
    }
    #user-email{
        font-size: 18px;
    }
    #user-pass{
        font-size: 18px;
    }
    .login-btn{
        font-size: 21   px;
    }
    .input {
        box-sizing: border-box;
        width: 100%;
        height: calc(70px + 1px);
        font-size: 26px;
        margin: 0 0 1em;
        box-shadow: 0 4px 23px rgba(0, 0, 0, 0.19), 0 6px 30px rgba(0, 0, 0, 0.23);
        border: 1px solid azure;
        background: transparent;
        resize: none;
        outline: none;
        padding-left: 25px;
    }
    .input + label[placeholder] {
        display: block;
        font-size: 20px;
        pointer-events: none;
        line-height: 1em;
        margin-top: calc(-69px - 2px);
        margin-bottom: calc((3em - 1em) + 2px);
    }
    #ven_img {
        padding-left: 96px;
    }
    .upload-label-vendor {
        top: 6px;
    }
    .upload-label-category{
        padding-left: 15px;
        padding-right: 15px;
        top: 6px;
        padding-top: 12px;
        position: absolute;
        left: 10px;
        background: #f44336;
        border: 1px solid #f44336;
        padding-bottom: 12px;
        color: #ffffff;
    }
    #category_image{
        padding-left: 107px;
    }
    .edit-cat-upload-label{
        padding-left: 18px;
        padding-right: 18px;
        top: 0px;
        left: 25px;
    }
        .list-card-xs{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .edit-brand-upload-label{
        left: 23px;
        top: 0px;
        padding-left: 34px;
        padding-right: 34px;
    }
    .brand-edit-img{
        padding-left: 130px;
    }
        .edit-product-label{
        top: 0px;
        padding-left: 15px;
        padding-right: 15px;    
    }
    .edit-product-image{
        padding-left: 137px;
    }


}

/*large desktop*/
@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .front-upload-label{
        padding-left: 40px;
        padding-right: 40px;
    }
    .upload-label{
        padding-left: 31px;
        padding-right: 31px;
    }
    .upload-label-brand {
        padding-left: 38px ;
        padding-right: 35px;
    }     
    .upload-label-category{
        padding-left: 26px;
        padding-right: 26px;
        top: 6px;
        padding-top: 12px;
        position: absolute;
        left: 10px;
        background: #f44336;
        border: 1px solid #f44336;
        padding-bottom: 12px;
        color: #ffffff;
    }
    .edit-cat-upload-label{
        padding-left: 30px;
        padding-right: 29px;
        top: 0px;
        left: 25px;
    }
        .list-card-xs{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .edit-brand-upload-label{
        left: 23px;
        top: 0px;
        padding-left: 34px;
        padding-right: 34px;
    }
    .edit-product-label{
        top: 0px;
        padding-left: 15px;
        padding-right: 15px;    
    }
    .edit-product-image{
        padding-left: 137px;
    }


}

/*extra large desktop*/
@media screen and (min-width: 1401px){
    .right-panel {
        padding-top: 235px;
    }    
    .opacity-tab {
        padding-top: 221px;
    }
    .upload-label-category{
        padding-left: 26px;
        padding-right: 26px;
        top: 6px;
        padding-top: 12px;
        position: absolute;
        left: 10px;
        background: #f44336;
        border: 1px solid #f44336;
        padding-bottom: 12px;
        color: #ffffff;
    }
        .list-card-xs{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }


}